.gradient-button {
  display: inline-block;
  text-align: center;
  border-radius: 8rem;
  position: relative;
  box-shadow: 8px 8px 26px #d7d7ed, -18px -18px 36px #ffffff;
  color: #484850;
  background-color: #f6f6f6;
  text-decoration: none;
  transition: 0.2s ease all;
  cursor: pointer;
  z-index: 1;
}

.gradient-button:before {
  transition: 0.5s all ease;
  position: absolute;
  border-radius: 8rem;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background: linear-gradient(30deg, #0affd2, #1affe7, #1afffb, rgba(53, 208, 255, 0.7450980392), rgba(75, 135, 255, 0.6901960784), rgba(255, 67, 227, 0.6431372549), rgba(255, 54, 181, 0.7803921569));
  filter: blur(8px);
  z-index: -1;
}

.gradient-button:hover,
.gradient-button:focus {
  color: white;
  border-radius: 8rem;
}

.gradient-button:hover:before,
.gradient-button:focus:before {
  transition: 0.8s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.gradient-button:active {
  transform: scale(0.9);
  border-radius: 8rem;
}

.gradient-button-dark {
  display: inline-block;
  text-align: center;
  border-radius: 8rem;
  position: relative;
  color: #1affe7;
  background-color: #18181b;
  text-decoration: none;
  transition: 0.2s ease all;
  cursor: pointer;
  z-index: 1;
}

.gradient-button-dark:before {
  transition: 0.4s all ease;
  position: absolute;
  border-radius: 8rem;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background: linear-gradient(30deg, #0affd2, #1affe7, #1afffb, #35d0ff, #637dff, #e176ff, #ff5ec4);
  filter: blur(10px);
  z-index: -1;
}

.gradient-button-dark:hover,
.gradient-button-dark:focus {
  color: white;
  border-radius: 8rem;
}

.gradient-button-dark:hover:before,
.gradient-button-dark:focus:before {
  transition: 0.8s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.gradient-button-dark:active {
  transform: scale(0.9);
  border-radius: 8rem;
}