.apparels-scrollbar {
  width: 100%;
  max-height: 82vh;

  .apparels-content {
    width: 100%;
    max-height: 82vh;
    padding: 0 0.5rem;
  }
}

.laptop-apparels-scrollbar {
  width: 100%;
  max-height: 78vh;

  .laptop-apparels-content {
    width: 100%;
    max-height: 78vh;
    padding: 0 0.5rem;
  }
}

.mobile-apparels-scrollbar {
  width: 100%;
  max-height: 70vh;

  .mobile-apparels-content {
    width: 100%;
    max-height: 70vh;
    padding: 0 0.5rem;
  }
}

.styles-scrollbar {
  width: 100%;
  max-height: 82vh;

  .styles-content {
    width: 100%;
    max-height: 82vh;
    padding: 0 10%;
  }
}